<ion-content class="custom-background">
  <div class="wrapper">
    <div class="logo">
      <img src="assets/PhilSafe Logo.png">
    </div>


    <div class="loginpage">

       <ion-label class="title-info">LOG IN WITH</ion-label>
    <ion-segment [(ngModel)]="SignInType" value="Email" class="loginSegment">
      <ion-segment-button value="Email" class="segment-button">
        Email
      </ion-segment-button>
      <ion-segment-button value="Contact_Number" class="segment-button">
        Contact Num
      </ion-segment-button>
    </ion-segment>

    <div class="login-input">
      <ion-list class="info" lines="none">

        <div *ngIf="SignInType === 'Email'">
          <ion-item>
            <ion-input [(ngModel)]="email" id="username" placeholder="Email"></ion-input>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-icon slot="end"></ion-icon>
          </ion-item>
          <ion-label style="margin-left:20px;" *ngIf="showValidationMessages && !email" color="danger">Please fill out this item<br></ion-label>
      <ion-label *ngIf="showValidationMessages && !isValidEmail(email)" color="danger" style="margin-left:20px;" >Invalid email address</ion-label>

          
      <ion-item>
        <ion-input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="em_password" id="pass" placeholder="Password"></ion-input>
        <ion-icon src="assets/lock.svg" slot="start"></ion-icon>
        <ion-icon 
          [name]="passwordVisible ? 'eye-outline' : 'eye-off-outline'" 
          slot="end" 
          (click)="togglePasswordVisibility()">
        </ion-icon>
      </ion-item>
      
          <ion-label  *ngIf="showValidationMessages && em_password && em_password.length < 8" color="danger" style="margin-left:20px;">Password must be minimum of 8 characters</ion-label>
      <ion-label *ngIf="showValidationMessages && !em_password" color="danger" style="margin-left:20px;">Please fill out this item</ion-label>
        </div>
        
        <div *ngIf="SignInType === 'Contact_Number'">
          <ion-item >
            <ion-input [(ngModel)]="contactNumString" id="contactNum" placeholder="Contact Number"></ion-input>
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-icon slot="end"></ion-icon>
          </ion-item>
          <ion-label style="margin-left:20px;" *ngIf="showValidationMessages && !contactNum" color="danger">Please fill out this item<br></ion-label>
      <ion-label *ngIf="showValidationMessages && (!contactNum.startsWith('09'))" color="danger" style="margin-left:20px;">Contact number must start with 09</ion-label>

      <ion-item>
        <ion-input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="con_password" id="pass" placeholder="Password"></ion-input>
        <ion-icon src="assets/lock.svg" slot="start"></ion-icon>
        <ion-icon 
          [name]="passwordVisible ? 'eye-outline' : 'eye-off-outline'" 
          slot="end" 
          (click)="togglePasswordVisibility()">
        </ion-icon>
      </ion-item>
          <ion-label  *ngIf="showValidationMessages && con_password && con_password.length < 8" color="danger" style="margin-left:20px;">Password must be minimum of 8 characters</ion-label>
      <ion-label *ngIf="showValidationMessages && !con_password" color="danger" style="margin-left:20px;">Please fill out this item</ion-label>
        </div>

      
        <ion-label class="forgot-pwd">Forgot Password? <a routerLink="/otp">Click here</a></ion-label>

        <div class="next-container">
          <ion-button id="login" class="confirm" (click)="login()">Sign in</ion-button>
          <ion-loading 
        class="custom-loading" 
        [isOpen]="loading" 
        spinner="bubbles"
        message="Logging in.."> 
    </ion-loading>
          
        </div>

 

        <!-- <div *ngIf="loading" class="loading-indicator">
          <ion-spinner></ion-spinner> 
          <p>Loading...</p>
        </div> -->
        
        <div class="sign-up-here">
          <ion-label class="sign-up">Don't have an account?</ion-label>
          <a class="sign-up-link" routerLink="/create-account">Sign up today!</a>
        </div>
      </ion-list>
    </div>
  </div>
    </div>

   
</ion-content>