<ion-header>
  <ion-toolbar class="back-button" >
    <ion-buttons slot="start" fill="clear">
      <ion-back-button defaultHref="/tabs/home" ></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
 
<div class="container">
  <ion-label class="report-as">Report As</ion-label>

  <div class="victim" (click)="onReporterSelect('victim')">
    <img src="assets/victim.png">
    <p>Victim</p>
  </div>

  <div class="witness" (click)="onReporterSelect('witness')">
    <img src="assets/witness.png">
    <p>Witness</p>
  </div>
</div>
<ion-modal class="custom-modal" id="confirmationModal" [isOpen]="isModalOpen" (willDismiss)="closeModal()">
  <ng-template>
  <ion-header>
    <ion-toolbar>
      <ion-title>IMPORTANT NOTE</ion-title>
      <ion-buttons slot="end">
        <ion-button class="close-button"(click)="closeModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="div-note">
      <img src="/assets/note.png" class="note">
    </div>
    <div class="content"> 
      <ion-label class="label-modal">
        Please note that a report fee of PHP 50.00 will be charged. Would you like to proceed?
      </ion-label>
    </div>

    <div class="menu-button-modal">
      <ion-button class="proceed-button-modal"(click)="proceedToReport()">Proceed</ion-button>
      <ion-button  class="home-button-modal" (click)="goBack()">Go back to Homepage</ion-button>
    </div>
    
    
  </ion-content>
</ng-template>
</ion-modal>
</ion-content>