ion-content {
    --background: url("../assets/bacgkround.svg") no-repeat fixed center / cover;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    color: #000000;
  }

  ion-label {
    font-size: 25px; 
  }

  .report-as, ion-label{
    color: #000000;
    font-weight: bold;
  }

  .victim, .witness {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 30px;
  }

  .victim, .witness, p {
    font-weight: bold
  }

  ion-button {

    margin-top: 25px;
  }

  img {
    width: 230px;
    height: 200px;
    border-radius: 20px;
  }