<ion-header>
  <ion-toolbar class="back-button" >
    <ion-buttons slot="start" fill="clear">
      <ion-back-button defaultHref="/tabs/home" ></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
 
<div class="container">
  <ion-label class="report-as">Report As</ion-label>

  <div class="victim" routerLink="/report/1">
    <img src="assets/victim.png">
    <p>Victim</p>
  </div>

  <div class="witness" routerLink="/witness">
    <img src="assets/witness.png">
    <p>Witness</p>
  </div>
</div>
</ion-content>