<ion-content class="custom-background">

  <div class="segment-container">
    <ion-segment class="custom-segment" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="register" id="register-as"
      [style.backgroundColor]="selectedSegment === 'register' ? 'active-color' : ''">
        Victim
      </ion-segment-button >
      <ion-segment-button value="witness" id="register-as"
      [style.backgroundColor]="selectedSegment === 'witness' ? 'active-color' : ''">
        Witness
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="container">
    <ion-list class="info">
      <ion-item>
        <ion-input id="fname" placeholder="First Name"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-input id="mname" placeholder="Middle Name"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-input id="lname" placeholder="Last Name"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-input id="email" placeholder="Email"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" id="pass" placeholder="Password"><ion-icon name="eye" slot="end"></ion-icon> </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" id="pass" placeholder="Confirm Password"><ion-icon name="eye" slot="end"></ion-icon> </ion-input>
      </ion-item>

      <div class="checkbox-container">
        <ion-checkbox labelPlacement="end"></ion-checkbox>
        <ion-label class="checkbox-label"
          >I hereby certify to the correctness of the foregoing to the best of my knowledge and belief</ion-label
        >
      </div>

      
      <div class="next-container">
        <ion-button class="confirm">Register</ion-button
        >
        </div>
    </ion-list>
    
  </div>
</ion-content>