<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="about">
  <div class="about-title">
    <ion-label class="about-title">About PhilSafe</ion-label>
  </div>

  <div class="about-p">
    <p >PhilSafe is a crime reporting and mapping mobile application designed to provide citizens with a secure, fast, and efficient way to report crimes and incidents in real-time. By integrating crime mapping technology and a profiling system, PhilSafe aims to improve public safety, assist law enforcement, and foster a more proactive and connected community.
    </p>
  </div>

</ion-content>