ion-toolbar {
    --background: linear-gradient(to right, #004AAD, #009FFD);
    height: 80px;
    width: 100%;
  
  }

  .about ion-label, p {
    background-color: #ffffff;
    color: #000000;
    padding: 30px;
    
  }


  .about-title {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    margin-top: 20px;
  }

  .about-p {
    text-align: justify;
    font-size: 15px;
  }