ion-toolbar {
  --background: linear-gradient(to right, #004AAD, #009FFD);
  height: 80px;
  width: 100%;

}
// .mapboxgl-canvas {
//   width:auto;
//   height:auto;
// }

// ion-content, #map {
//     height: 100%;
//     width: 100%;
//     margin: 0;
//     padding: 0;
//   }
  
  #map {

    height: 100%; 
    min-height: 400px;
    flex: 1; 

  }
 


ion-select {
  --background: white; 
  --color: black; 
}

ion-select-option {
  --background: white; 
  --color: black; 
}

ion-select-option:hover {
  --background: #f0f0f0;
}

.main-content {
  // position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // top: 20px;
  width: auto;
  height: auto;
  z-index: 99;
  flex-direction: column;
}

.jurisdiction {
  position: sticky;
  display: flex;
  align-items: flex-start;
  width: auto;
  z-index: 99;
  margin: 20px;
  justify-content: flex-start;
}

.jurisdiction ion-select, ion-item {
  --background: #f3f3f3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    --box-shadow: 0 40px 80px rgba(167, 159, 159, 0.2);
    border-radius: 20px;
    margin: 5px;
    width: auto;
}

.jurisdiction ion-label {
    --color: #000000;
}


.date {
  position: sticky;
  display: flex;
  align-items: flex-start;
  width: auto;
  z-index: 99;
  margin: 20px;
  justify-content: flex-start;
  top: 80%;
}

.date ion-select, ion-item {
  --background: #f3f3f3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    --box-shadow: 0 40px 80px rgba(167, 159, 159, 0.2);
    border-radius: 20px;
    margin: 5px;
    width: auto;
}

.date ion-label {
    --color: #000000;
}


.segment-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  --box-shadow: 0 40px 80px rgba(167, 159, 159, 0.2);
  z-index: 100;

}
.custom-segment {
  --background-focused: #00229f;
  --background: hsl(0, 0%, 95%);
  --color: #000000;
  width: 250px;
  position: relative;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-segment-button#duration {
  --color: #050505;
  font-weight: bold;
  --color-checked: white;
  --background-checked: #006aed;
}

.custom-segment ion-segment-button.ion-activated {
  background-color: var(--background-checked);
  color: var(--color-checked);
}


.main-content ion-list {
  background-color: #ffffff;
}

.main-content ion-select {
  --background: #ffffff;
  color: #ffffff;
  border-radius: 50px;
  --border: solid 0px #d1d1d1;

}

.main-content ion-item {
  color: #000000; 
  --background: #ffffff;
  border-radius: 50px;
  border: solid 0.1px #b4b1b1;
 
}

