<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Crime Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="main-content" class="main-content">

    <div class="percentage">
      <ion-label class="percent">10%</ion-label>
      <ion-label class="percent">40%</ion-label>
      <ion-label class="percent">70%</ion-label>
      <ion-label class="percent">100%</ion-label>
    </div>

    <div class="density">
      <div class="safe" (click)="levelChanged('1')"></div>
      <div class="alert" (click)="levelChanged('2')"></div>
      <div class="risk" (click)="levelChanged('3')"></div>
      <div class="risky" (click)="levelChanged('4')"></div>
  </div>


   
    
  <div *ngIf="selectedLevel === '1'" class="level">
    <ion-label class="level1">LOW RISK (10%)</ion-label>
    <p>Minimal crime levels. Continue with general awareness and caution.</p>
  </div>

  <div *ngIf="selectedLevel === '2'" class="level">
    <ion-label class="level2">REMAIN AWARE (40%)</ion-label>
    <p>Noticeable crime activity. Stay cautious and watch your surroundings.</p>
  </div>

  <div *ngIf="selectedLevel === '3'" class="level">
    <ion-label class="level3">MODERATE CONCERN (70%)</ion-label>
    <p>Significant crime presence. Maintain heightened awareness.</p>
  </div>

  <div *ngIf="selectedLevel === '4'" class="level">
    <ion-label class="level4">ELEVATED RISK (100%)</ion-label>
    <p>Severe crime levels. Be highly vigilant and avoid unnecessary risks.</p>
  </div>


  <ion-buttons class="crime-analysis" slot="end">
    <ion-button (click)="openCrimeAnalysisModal()">View Analysis</ion-button>
  </ion-buttons>
 
  <ion-modal class="modal-analysis" [isOpen]="isModalOpen" (willDismiss)="closeCrimeAnalysisModal()">
    <ng-template>
    <ion-header class="modal-analysis">
      <ion-toolbar class="modal-analysis">
        <ion-title class="modal-analysis">Crime Analysis</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeCrimeAnalysisModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <ion-label class="inclusive-date" id="inclusive-date">1st Quarter 2024</ion-label>
      <ion-list class="modal-analysis" lines="none">
        <ion-item class="modal-analysis">
          <ion-label class="modal-analysis">Highest Crime in Location:</ion-label>
          <ion-label class="modal-name" style="font-weight:normal;text-align: end;">{{ highestCrimeLocation }}</ion-label>
        </ion-item>
        <div class="chart-parent">
          <canvas id="crimeLocationPieChart" class="crimeLocationPieChart" width="300" height="300"></canvas>
        </div>
        <ion-item class="modal-analysis">
          <ion-label class="modal-analysis">Highest Crime per Time:</ion-label>
          <ion-label class="modal-name" style="font-weight:normal;text-align: end;">{{ highestCrimeTime }}</ion-label>
        </ion-item>
        <div>
          <canvas id="crimeTimeChart" style="height: 400px; width: 80%;"></canvas>
        </div>
      </ion-list>
    </ion-content>
  </ng-template>
  </ion-modal> 

  </div>
  <div id="map" class="map"></div>
 
</ion-content>





