ion-toolbar {
  --background: linear-gradient(to right, #004AAD, #009FFD);
  height: 80px;
  width: 100%;

}
// .mapboxgl-canvas {
//   width:auto;
//   height:auto;
// }

// ion-content, #map {
//     height: 100%;
//     width: 100%;
//     margin: 0;
//     padding: 0;
//   }
  
  .map {

    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

  }

  #map {

    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

  }

ion-select {
  --background: white; 
  --color: black; 
}

ion-select-option {
  --background: white; 
  --color: black; 
}

ion-select-option:hover {
  --background: #f0f0f0;
}

.main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 500px;
  background-color: white;
  border-radius: 50px;
  width: 90%;
  height: 30%;
  z-index: 99;
  /* flex-direction: column; */
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.jurisdiction {
  position: sticky;
  display: flex;
  align-items: flex-start;
  width: auto;
  z-index: 99;
  margin: 20px;
  justify-content: flex-start;
}

.jurisdiction ion-select, ion-item {
  --background: #f3f3f3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    --box-shadow: 0 40px 80px rgba(167, 159, 159, 0.2);
    border-radius: 20px;
    margin: 5px;
    width: auto;
}

.jurisdiction ion-label {
    --color: #000000;
}


.date {
  position: sticky;
  display: flex;
  align-items: flex-start;
  width: auto;
  z-index: 99;
  margin: 20px;
  justify-content: flex-start;
  top: 80%;
}

.date ion-select, ion-item {
  --background: #f3f3f3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    --box-shadow: 0 40px 80px rgba(167, 159, 159, 0.2);
    border-radius: 20px;
    margin: 5px;
    width: auto;
}

.date ion-label {
    --color: #000000;
}


.segment-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  --box-shadow: 0 40px 80px rgba(167, 159, 159, 0.2);
  z-index: 100;

}
.custom-segment {
  --background-focused: #00229f;
  --background: hsl(0, 0%, 95%);
  --color: #000000;
  width: 250px;
  position: relative;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-segment-button#duration {
  --color: #050505;
  font-weight: bold;
  --color-checked: white;
  --background-checked: #006aed;
}

.custom-segment ion-segment-button.ion-activated {
  background-color: var(--background-checked);
  color: var(--color-checked);
}


.main-content ion-list {
  background-color: #ffffff;
}

.main-content ion-select {
  --background: #ffffff;
  color: #ffffff;
  border-radius: 50px;
  --border: solid 0px #d1d1d1;

}

.main-content ion-item {
  color: #000000; 
  --background: #ffffff;
  border-radius: 50px;
  border: solid 0.1px #b4b1b1;
 
}


.density {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 50px;
  border: #000000 solid 0.2px;
  height: 20px;
  width: 80%;
  // margin-bottom: 150px;
}


.percentage {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 50px;
  //height: 20px;
  width: 80%;
  // margin-bottom: 150px;
}

.percent {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center ;
  width: 80%;

}

.safe {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-top-left-radius: 50px;
  //border: #000000 solid 0.2px;
  height: 20px;
  width: 20%;
  margin-bottom: 150px;
  background-color: #0fcaeb;
  border-bottom-left-radius: 50px;

}

.alert {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  // border-top-left-radius: 50px;
  //border: #000000 solid 0.2px;
  height: 20px;
  width: 30%;
  margin-bottom: 150px;
  background-color: #d9ff00;
  // border-bottom-left-radius: 50px;

}

.risk {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  // border-top-left-radius: 50px;
  //border: #000000 solid 0.2px;
  height: 20px;
  width: 30%;
  margin-bottom: 150px;
  background-color: #ff9d00;
  // border-bottom-left-radius: 50px;

}

.risky {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-top-right-radius: 50px;
  //border: #000000 solid 0.2px;
  height: 20px;
  width: 20%;
  margin-bottom: 150px;
  background-color: #ff0000;
  border-bottom-right-radius: 50px;

}

.level {
  color:#000000;
  display: flex;
  justify-content: center;
  align-items: center
}

.level1 {
  color:#0fcaeb;
  font-weight: bold;
  margin: 20px;

}

.level2 {
  color:#9bb024;
  font-weight: bold;
  margin: 20px;

}


.level3 {
  color:#ff9d00;
  font-weight: bold;
  margin: 20px;

}


.level4 {
  color:#ff0000;
  font-weight: bold;
  margin: 20px;

}


.crime-analysis {
  color:#004AAD;
  font-weight: bold;
  margin: 10px;
  text-decoration: underline;
}



ion-modal {
  --width: 90%;
  --height: 80%;
  --background: #ffffff;
}


.modal-analysis ion-toolbar {
  --background: #007acc;
  --color: #fff; 
  --border-radius: 20px 20px 0 0; 
  --padding-top: 16px;
}


.modal-analysis ion-title {
  font-size: 20px;
  font-weight: bold;
}


.modal-analysis ion-content {
  --padding: 16px;
  background-color: #f5f5f5; 
  font-family: 'Arial', sans-serif;
}


.modal-analysis ion-item {
  --background: #fff; 
  --border-radius: 12px;
  --padding: 20px;
  --margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.modal-analysis ion-list {
  background-color: #ffffff;
  --border-radius: 12px;
  --margin-bottom: 20px;
}



.modal-analysis ion-item ion-label {
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Label color */
}


.modal-analysis ion-note {
  font-size: 16px;
  color: #555; 
}


.modal-analysis ion-button {
  --background: #007acc;
  --color: #fff;
  --border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

.inclusive-date {
  font-size: 30px;
  font-weight: bold;
  color: #007acc; 
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}






