<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <!-- <ion-icon name="home"></ion-icon> -->
      <!-- <img src="assets/home.svg"> -->
      <ion-icon src="assets/home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="myreports">
      <!-- <ion-icon name="mail"></ion-icon> -->
      <ion-icon src="assets/papers.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button></ion-tab-button>

    <ion-tab-button tab="map">
      <!-- <ion-icon name="globe"></ion-icon>   -->
      <ion-icon src="assets/globe.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <!-- <ion-icon name="book"></ion-icon> -->
      <ion-icon src="assets/notif.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button id="report" (click)="navigateToReport()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-loading 
  class="custom-loading" 
  [isOpen]="loading" 
  message="Loading...">
</ion-loading>
