<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon name="arrow-back"></ion-icon>
        Back to Homepage
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Back to Homepage</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div class="title-success">
    <img src="assets/pmt-success.png">
    <ion-label>PAYMENT SUCCESSFUL</ion-label>
    
  </div>

  
  <div class="parent-subcontent">

    <div class="sub-content">
      <ion-label>Transaction Id:</ion-label>
      <ion-label>Payment Method:</ion-label>
      <ion-label>Amount:</ion-label>
      <ion-label>Payment Date:</ion-label>
      <ion-label>Received By:</ion-label> 
    </div>

  
  <div *ngIf="transactionDetails && stationData" class="sub-content-data">
    <ion-label>{{ transactionDetails.trans_id }}</ion-label>
    <ion-label>{{ transactionDetails.brand }}</ion-label>
    <ion-label>{{ transactionDetails.amount }}</ion-label>
    <ion-label>{{ reportData.reported_date | date }}</ion-label>
    <ion-label>{{ stationData.hq }}</ion-label> 
  </div>
  </div>
     
  <!-- <div class="download">
    <button (click)="retrieveReceipt()">Download Receipt</button>
  </div> -->
  

</ion-content>
