ion-toolbar {
    --background: #004aad;
    height: 80px;
    width: 100%;
  }

  .segment-content {
    color: #000000; 
    background-color: #ffffff;
    padding: 15px;
    
    //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

  

  .segment-content ion-list {
    background-color: #ffffff;
    color: #000000;
  }

  .segment-content ion-item {
    --background: #ffffff;
    color: #000000;
  }

  .incident-list, ion-list {
    border: none;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 20px;
  }



