

<ion-header>
  <ion-toolbar class="back-button">
    <ion-buttons slot="start" fill="clear">
      <ion-back-button defaultHref="/get-started"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
  <swiper-container #swiperRef (slidechange)="swiperSlideChanged($event)" 
    [pagination]="true" class="swiper-slide-custom">
    <swiper-slide *ngFor="let slide of slidesImages">
      <img [src]="slide.image" id="swiper" class="swiper-slide-custom">
    </swiper-slide>
  </swiper-container>
  
  <div class="content">
    <h3>{{ slidesContent[currentSlideIndex].title }}</h3>
    <p>{{ slidesContent[currentSlideIndex].description }}</p> 
    <ion-button (click)="getStarted()" expand="full" class="started">
      {{ slidesContent[currentSlideIndex].button }}
    </ion-button>
    <p *ngIf="currentSlideIndex === slidesContent.length - 1">
      {{ slidesContent[currentSlideIndex].login }} 
      <a routerLink="/login">{{slidesContent[currentSlideIndex].login_button}}</a>
    </p>
  </div>
</ion-content>