<ion-content class="custom-background">
  <swiper-container #swiperContainer  (slidechange)="swiperSlideChanged($event)" 
  [autoplay]="{ delay: 3000 }" 
  [pagination] = "true" class="swiper-slide-custom">
      <swiper-slide  *ngFor="let slide of slidesImages" >
        <img [src]="slide.image" id="swiper" class="swiper-slide-custom" >
      </swiper-slide>
  </swiper-container>
  
  <div class="content">
    <h3>{{ slidesContent[currentSlideIndex].title }}</h3>
    <p>{{ slidesContent[currentSlideIndex].description }}</p> 
    <ion-button (click)="getStarted()" expand="full" class="started">{{ slidesContent[currentSlideIndex].button }}</ion-button>
    <p>{{ slidesContent[currentSlideIndex].login }} <a routerLink="/login">{{slidesContent[currentSlideIndex].login_button}}</a></p>
    
  </div>
  

</ion-content>
