
<ion-content class="custom-background">
  <div class="upper-slogan">
    <ion-label class="report">REPORT CRIME, </ion-label>
    <ion-label class="build">BUILD TRUST</ion-label>
  </div>
  <div class="container">
    <img class="custom-logo" src="assets/PhilSafe Logo.png">
    <div class="lower-slogan">
      <ion-label class="voice">
        "Your Voice Against Crime Starts Here"
      </ion-label>
    </div>
        <ion-label class="get-started-1" routerLink="/get-started/carousel">Tap here to continue</ion-label>
        </div>
      
</ion-content>
