
ion-content {
  --background: url("./assets/bacgkround.svg") no-repeat fixed center / cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    //height: 100%; 
  }

.custom-logo {
    width: 200px;
    height: 200px;
}

.get-started-1 {
    color: #9b9393;
    margin-top: 150px;

}

.upper-slogan{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 250px;

}

.lower-slogan{
  margin: 20px;
  width: 200px;
  text-align: center;
}

.report{
  font-weight: bold;
  margin-right: 15px;
  color: #004AAD;
}

.build{
  font-weight: bold;
  color: #CB2601;

}

.voice{
  color: #9b9393;
}

