<ion-content>
  <ion-menu side="end" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar class="side-menu-toolbar">
        <ion-title>Account</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="profile-container">
        <ion-avatar class="side-avatar">
          <img [src]="avatarUrl" alt="Profile Picture" />
        
        </ion-avatar>
      </div>
      <div class="user-details">
        <ion-label class="email">Email: {{accountData.email}}</ion-label>
        <ion-label class="profile-name">{{personData.firstname}} {{personData.lastname}}</ion-label>
      </div>
      
      <ion-list class="side-menu-list" lines="none">
        <ion-item class="side-menu-item"  (click)="editProfile(personData.personId)">
          <img src="assets/edit.svg" class="small-img"> 
          <ion-label>Edit Profile</ion-label>
        </ion-item>
        <ion-item class="side-menu-item" routerLink="/tabs/myreports">
          <img src="assets/papers.svg" class="small-img">
          <ion-label>My Reports</ion-label>
        </ion-item>
        <ion-item class="side-menu-item" (click)="logout()" routerLink="/login">
            <img src="assets/logout.svg" class="small-img">
           <ion-label>Log out</ion-label>      
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu side="start" menuId="second" contentId="main-content">
    <ion-header>
      <ion-toolbar class="side-menu-toolbar">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div>
        <ion-list class="side-menu-list" lines="none">
          <ion-item class="side-menu-item">
            <img routerLink="/about" src="assets/about.svg" class="small-img">
            <ion-label routerLink="/about">About</ion-label>
          </ion-item>
          <!-- <ion-item class="side-menu-item">
            <img src="assets/support.svg" class="small-img">
            <ion-label>Help & Support</ion-label>
          </ion-item>
          <ion-item class="side-menu-item">
            <img src="assets/privacy.svg" class="small-img">
            <ion-label>Term & Privacy</ion-label>
          </ion-item>
          <ion-item class="side-menu-item">
            <img src="assets/settings.svg" class="small-img">
            <ion-label>Settings</ion-label>
          </ion-item> -->
        </ion-list>
      </div>
    </ion-content>
  </ion-menu>
  

  <ion-header [translucent]="true"> </ion-header>
  <ion-toolbar id="top-toolbar" class="top-toolbar">
    <div class="top-items">
      <ion-buttons slot="start">
        <ion-menu-button menu="second" class="menu">
          <div class="menu-icon">
            <img src="assets/menu.svg"  class="burger-icon"/>
          </div>
        </ion-menu-button>
      </ion-buttons>
      <img src="assets/logo_header.png" class="logo" />
      <ion-buttons slot="end" class="user-home-button">
        <ion-menu-button menu="first" >
          <ion-avatar class="user-home-avatar">
            <img [src]="avatarUrl" alt="Profile Picture" />
            <!-- <img src="assets/user-default.jpg" alt="Profile Picture" /> -->
          </ion-avatar>
        </ion-menu-button>
      </ion-buttons>
      
      
    </div>
  </ion-toolbar>

  <div id="main-content" class="main-content">
    <!-- <div class="segment-container">
      <ion-segment value="custom" class="custom-segment">
        <ion-segment-button id="duration" value="recent">
          <ion-label>Recent</ion-label>
        </ion-segment-button>
        <ion-segment-button id="duration" value="segment">
          <ion-label>Previous</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div> -->

    <div class="solved">
      <ion-label id="solvedTitle" class="solvedTitle">
        Number of solved crimes </ion-label
      ><br />
      
      <ion-label id="province" class="province">
        <ion-icon name="location" style="color:red" slot="start"></ion-icon> 
        Current Location: {{ locationName }}
      </ion-label>
      <div class="numbers">
        <ion-label id="solvedNum" class="solvedNum"> {{solvedCrimesPerStation}} </ion-label>
        <ion-label id="solvedNumNation" class="solvedNumNation">
          {{ totalSolvedCrimesCount}}
        </ion-label>
      </div>
<!-- 
      <div class="location">
        <ion-label id="province" class="province"> Your current location is: </ion-label>
        <ion-label id="nation" class="nation"> Current location: </ion-label>
      </div> -->

      <div class="location">
        <div>
          <ion-label id="province" class="province">
            Nearby Station: <br>
            {{stationName}}
          </ion-label>
        </div>
        <div>
          <ion-label id="province" class="province">
            Total Solved in Region
          </ion-label>
        </div>
        
        
      </div>
     
      
    </div>

    <div class="articles">
      <ion-label id="safetyTitle" class="safetyTitle">Safety Articles</ion-label>
    </div>
    
    <div class="scroll-container">
      <!-- Article 1 -->
      <ion-card id="card" card="card">
        <img src="assets/scam.png" id="card-img" class="card-img" />
        <ion-card-header id="card-header" class="card-header">
          <ion-card-title id="card-title" class="card-title"
            >Protecting Yourself Against Fraud and Scams</ion-card-title
          >
        </ion-card-header>
        <ion-card-content id="card-content" class="card-content">
          <br />
          <p>
            Each year billions of dollars are lost to fraudulent activities.
            Telemarketing, health care, home equity and home improvement...
          </p>
          <ion-button fill="clear" [routerLink]="['/article']" [queryParams]="{ id: 1 }"> See More </ion-button>
        </ion-card-content>
      </ion-card>
    
      <!-- Article 2 -->
      <ion-card id="card" card="card">
        <img src="assets/vacation.jpg" id="card-img" class="card-img" />
        <ion-card-header id="card-header" class="card-header">
          <ion-card-title id="card-title" class="card-title"
            >PNP’s summer vacation safety tips</ion-card-title
          >
        </ion-card-header>
        <ion-card-content id="card-content" class="card-content">
          <br />
          <p>
            The Philippine National Police (PNP) urged the public on Wednesday to be mindful of summer vacation and travel safety tips.
          </p>
          <ion-button fill="clear" [routerLink]="['/article']" [queryParams]="{ id: 2 }"> See More </ion-button>
        </ion-card-content>
      </ion-card>
    
      <!-- Article 3 -->
      <ion-card id="card" card="card">
        <img src="assets/identity.jpg" id="card-img" class="card-img" />
        <ion-card-header id="card-header" class="card-header">
          <ion-card-title id="card-title" class="card-title"
            >Protecting From Identity Theft</ion-card-title
          >
        </ion-card-header>
        <ion-card-content id="card-content" class="card-content">
          <br />
          <p>
            Consumers cannot completely prevent themselves from becoming victims of identity theft, but there are several things you can do to prevent yourself from becoming an easy target.
          </p>
          <ion-button fill="clear" [routerLink]="['/article']" [queryParams]="{ id: 3 }"> See More </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
